

<div class="container">
  <!-- logout-button.component.html -->
<button mat-button class="logout_btn" (click)="logout()">Logout</button>


  <div class="component component1">
    <app-user-management></app-user-management>
  </div>

  <div class="component component2">
    <app-edu-details-management></app-edu-details-management>
  </div>

  <div class="component component3">
    <app-x-docs-management></app-x-docs-management>
  </div>

  <div class="component component4">
    <app-social-profiles-management></app-social-profiles-management>
  </div>

  
</div>

