<div class="main-container">
  <div class="header">
    <h1>User Details</h1>
  </div>
  <div class="data">
    <div class="data-container">
      <div class="items">
        <span style="padding-top: 4%">FIRST NAME</span>
      </div>
      <div class="values">
        <span>{{ userData.firstName }}</span>
      </div>
      <div class="items">
        <span>LAST NAME</span>
      </div>
      <div class="values">
        <span>{{ userData.lastName }}</span>
      </div>
      <div class="items">
        <span>EMAIL ID</span>
      </div>
      <div class="values">
        <span>{{ userData.email }}</span>
      </div>
      <div class="items">
        <span>DATE OF BIRTH</span>
      </div>
      <div class="values">
        <span>{{ userData.dateOfBirth }}</span>
      </div>
    </div>
  </div>

  <div class="picture">
    <img
      src="{{ profilePicture }}"
      alt="No Image"
      onerror="this.onerror=null; this.src='../../assets/images/No-picture.jpeg'"
    />
  </div>
</div>
