h2 {
    text-align: center;
}

.login_registration-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: auto;
    width: 130px;
    margin-top: 10px;
    font-size: medium;
}

button:hover {
    background-color: #45a049;
}

/* Center the form horizontally */
form {
    text-align: center;
}

/* Add some spacing between the input fields and the button */
.form-group:last-child {
    margin-bottom: 20px;
}

.required {
    color: red;
    margin-left: 5px;
}

/* Add this to your component's CSS or global styles */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Add styling for the error message if needed */
.error-message {
    color: red;
    margin-top: 5px;
}

.error-message_bottom {
    color: #ec0707;
    /* Adjust the text color as needed */
    /* margin-top: 10px; /* Adjust the spacing as needed */
    margin-bottom: 10px;
    font-size: 20px;
    /* Updated font size */
    font-weight: bold;
    /* Make the text bold */
    display: block;
    /* Ensure it appears like a block element (like a label) */
    text-align: center;
}